body{
    background-color: #191919;
}

.navbar{
background-color: #191919!important;

}


.navbar a {
    color: #fff!important;
    font-size: 1.5rem!important;
}

.slider{
    width: 50vw; 
}
.card-preview{
    border-radius: 16px;
    background: #191919;
    box-shadow:  13px -13px 21px #121212,
                 -13px 13px 21px #202020;
}

.n-logo{
    width: 100px;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading img{
    width: 40%;
}

