@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

.game-releases h3{
  color: #fff;
  text-align: center;
}
.c-slider{
  display: flex;
  align-items: center;
  justify-content: center;
}

